.profile-body {
    height: 60vh;
    width: 100%
}

hr {
    border-top: 2px solid black
}

.section1 {
    height:300px;
    width: 300px;
    border: 3px solid black
}

.profile {
    display: flex;
    align-items: row;
    flex-wrap: wrap;
}

.container-profile {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px
}

#store {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center
}


