#body {
    height:100%;
    min-height: 100%;
}

.carousel-section {
    display:flex;
    justify-content: center
}

.carousel-container {
    width: 80%;
    height: 80%;
    display:flex;
    justify-content: center
}

.slider animated {
    justify-content: center;
}

.c-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap
}

.category {
    height: 160px;
    width: 300px;
    flex-direction: column;
    border: 2px solid black;
    margin: 15px;
    float: left;
}
